.Definition h2 {
  padding-top: 30px;
}

.Definition h3 {
  font-size: 20px;
  font-weight: normal;
  color: #00000099;
}

.Definition .definitions {
  border-top: solid 1px lavender;
  padding-top: 30px;
}

.Definition .definitions .example {
  color: grey;
}
